<article class="module width_full">
  <header>
    <h3><%= ManageableContent::Page.model_name.human.pluralize %> (<%= @pages.total_count %>)</h3>
    <%= paginate @pages %>
  </header>
  <table class="data-table" cellspacing="0">
  <thead>
	  <tr>
			  <th><%= sortable 'title', ManageableContent::Page.human_attribute_name(:title) %></th>
			  <th><%= sortable 'locale', ManageableContent::Page.human_attribute_name(:locale) %></th>
			  <th><%= sortable 'updated_at', ManageableContent::Page.human_attribute_name(:updated_at) %></th>
			  <th><%= t('admin.actions') %></th>
	  </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
			  <td><%= page.page_content_for_key(:title).content %> (<%= page.key.titleize %>)</td>
			  <td><%= page.locale %></td>
			  <td><%= l(page.updated_at, :format => :short) %></td>
			  <td>
          <%= icon_link_to(:edit, edit_resource_path(page)) %>
        </td>
	    </tr>
    <% end %>
  </tbody>
  </table>
  <footer><%= paginate @pages %></footer>
</article>

