<ul class="archive">
  <% @articles.each do |article| %>
    <li>
      <article class="post">
	      <h2><%= link_to article.title, blog_post_url(article) %></h2>

	      <%= article.body.html_safe %>

	      <p class="postmeta">
			    <span class="date"><%= l(article.published_at, :format => :long) %></span>
		    </p>
      </article>
    </li>
  <% end %>
</ul>

<nav class="pagination clear">
  <%= previous_page_link @articles %>
  <%= next_page_link @articles %>
</nav>

