<section class="main">
  <% if params[:tag] %>
    <h2><%= t('posts_for_tag', :tag => params[:tag])  %></h2>
  <% end %>
    <% @articles.each do |article| %>
      <article class="post">
        <h3><%= link_to article.title, blog_post_path(blog_post_params(article)) %></h3>

        <%= article.body.html_safe %>

        <p class="postmeta">
	        <span class="date"><%= l(article.published_at, :format => :long) %></span> | <%= link_to t('comment'), blog_post_path(blog_post_params(article).merge('anchor' => 'disqus_thread')) %>
        </p>
      </article>
    <% end %>

  <nav class="pagination clear">
    <%= previous_page_link @articles %>
    <%= next_page_link @articles %>
  </nav>
</section>

<aside class="sidebar">
  <%= render 'blog/tag_cloud' %>
</aside>

