<article class="main post">

  <h2><a href="#"><%= @article.title %></a></h2>

  <p class="post-info">
    Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, blog_tag_path(:locale => I18n.locale, :tag => tag.name) %>
    <% end %>
  </p>

  <%= @article.body.html_safe %>

  <p class="postmeta">
	  <span class="date"><%= l(@article.published_at, :format => :long) %></span> |
	  <%= link_to t('back'), :back %>
  </p>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'fkreusch';
      var disqus_identifier = '<%= @article.published_at.to_s + @article.to_url_param %>';
      var disqus_url = '<%= blog_post_url(blog_post_params(@article)) %>';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>

<aside class="sidebar">
  <%= render 'tag_cloud' %>
</aside>

